@import url('https://fonts.googleapis.com/css?family=KoHo');
body{
    font-family: 'KoHo', sans-serif;
    margin: 0px;

}

 .row h1{
    margin-left: 25px;
} 
/*
.container{
    width:100%;
    height:100%;
    margin: 0px;
    background-color: aliceblue;

}
*/

.row_grades{
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.row_grades a{
    margin-left:30px;
    font-size: 25px;
    color:#000;
    text-decoration: none;
}

.row_grades a:hover{
   border-bottom: solid 4px #000; 
  -webkit-transition: all 0.4s ease;;
  -moz-transition: all 0.4s ease;;
  -o-transition: all 0.4s ease;;
  transition: all 0.4s ease;
}

img{
    width:30px;
    height:30px;
}
.content{
    width:100%;
    height:600px;
    background-image: url(../img/bg_3.jpg);
    background-size: cover;
    background-position: center;
    margin-top:30px;
    text-align: center;
    padding-top: 20px;
    color:#fff;
    
}

.content h1{
    font-size: 60px;
    padding-top: 30px;
}

footer{
    padding-top: 30px;
    background-color: #000;
    width:100%;
    text-align:center;
    display: inline-flex;
    height:450px;
    color: #fff;
}

.contacts{
    width:50%;
}
.map{
    width: 50%;
    align-items: center;
    
}

.map_wrapper{
    position: relative;
    width:0;
    overflow: hidden;
    width:100%;
    height:60%;
    margin-right: auto;
    
}

.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width:80%;
    height:100%;
    margin-left:10%;

}

